/* Title Classes */

.mass-title-box {  
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mass-title {
  font-size: 40px;
  color: #FFFFFF;
}

/* Pharse Classes */

.mass-dinamic-pharse {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mass-pharse {
  font-size: 32px;
  color: #ff0043;
}

/* Input Classes */

.input-box {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mass-select {
  font-size: 25px;
  width: 200px;
  height: 35px;
  color: #FFFFFF;
  background: none;
  border: 0;
  border-bottom: 1px solid #7c7c7c;
}

.mass-input {
  width: 200px;
  /* padding: 10px; */
  font-size: 25px;
  background: none;
  border: 0;
  outline: transparent;
  border-bottom: 1px solid #7e7c7c;
  transition: width ease-out 400ms;
}

.mass-input:focus {
  width: 220px;
  border-bottom: 1px solid #ff0043;
  caret-color: #FFFFFF;
  color:#ff0043;
}

option {
  color: #000000;
  font-size: 25px;
}

/* Buttons Classes */

.mass-buttons-box {
  width: 100%;
  height: 15%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mass-convert-button {
  width: 120px;
  font-size: 25px;
  padding: 10px;
  border:0;
  border-radius: 25px;
  color: #000000;
  transition: ease-out 100ms;
}

.mass-convert-button:disabled {
  cursor: not-allowed;
  background-color: #191919;
  color: #191919;
}

.mass-convert-button:hover {
  background-color: #FF0043;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

/* Footer Classes */

.home-footer {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
