/* Title classes */

.temperature-title-box {  
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.temperature-title {
  color: #FFFFFF;
  font-size: 40px;
}

/* Pharse Classes */

.temperature-dinamic-pharse {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature-pharse {
  font-size: 32px;
  color: #ff0043;
}

/* Inputs Classes */

.input-box {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.temperature-select {
  font-size: 25px;
  width: 200px;
  height: 35px;
  color: #FFFFFF;
  background: none;
  border: 0;
  border-bottom: 1px solid #7c7c7c;
}

.temperature-input {
  width: 200px;
  font-size: 25px;
  background: none;
  border: 0;
  outline: transparent;
  border-bottom: 1px solid #7e7c7c;
  transition: width ease-out 400ms;
}
::placeholder {
  color: #FF0043;
}

.temperature-input:focus {
  width: 220px;
  border-bottom: 1px solid #ff0043;
  caret-color: #FFFFFF;
  color:#ff0043;
}

option {
  color: #000000;
  font-size: 25px;
}

/* Buttons classes */

.temperature-buttons-box {
  width: 100%;
  height: 15%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.temperature-convert-button {
  width: 120px;
  font-size: 25px;
  padding: 10px;
  border: 0;
  border-radius: 25px;
  color: #000000;
  background-color: #FFFFFF;
  transition: ease-out 100ms;
}

.temperature-convert-button:disabled {
  cursor: not-allowed;
  background-color: #191919;
  color: #191919;
}

.temperature-convert-button:hover {
  background-color: #FF0043;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}
